<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
</head>
<body>
  
  <form action="" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username"><br />

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email"><br />
    
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name"><br />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password"><br />

    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password"><br />
    
    <input type="submit" value="Signup">
  </form>
  <p>{{ err_msg }}</p>
</body>
</html>