<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Blog Lite</title>
</head>
<body>
  <nav>
    <a href="/user">Home</a>
    <a href="/post/create">Create Post</a>
    <a href="/user/profile">Profile</a>
  </nav>

  {% for post in posts %}

  <div>
    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>
    <img src="{{ post.image_url }}" />

    <a href="/user/{{ post.created_by }}">{{ post.created_by }}</a>

    {% if session['username'] == post.created_by %}
      <a href="/post/{{ post.id }}/edit">Edit Post</a>
      <a href="/post/{{ post.id }}/delete">Delete Post</a>
    {% endif %}
    
  </div>

  {% endfor %}

</body>
</html>